
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

<!-- Register -->
<servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.auth.RegisterController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/auth/register</url-pattern>
</servlet-mapping>

<!-- mapping cho LoginController-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>

<!--mapping cho LogoutController-->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/auth/logout</url-pattern>
    </servlet-mapping>

<!--mapping cho ChangePasswordController-->
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.auth.ChangePasswordController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/auth/change-password</url-pattern>
    </servlet-mapping>

<!--Mapping cho Admin Controllers-->

    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.admin.AdminDashboardController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>

<!--Mapping cho Common Controllers-->
    <servlet>
        <servlet-name>FindDoctorController</servlet-name>
        <servlet-class>controller.common.FindDoctorController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FindDoctorController</servlet-name>
        <url-pattern>/common/find-doctor</url-pattern>
    </servlet-mapping>

<!--Mapping cho  Manager Controllers-->

    <servlet>
        <servlet-name>ManagerDashboardController</servlet-name>
        <servlet-class>controller.manager.ManagerDashboardController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManagerDashboardController</servlet-name>
        <url-pattern>/manager/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>controller.manager.DepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/manager/departments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.manager.RoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/manager/rooms</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HospitalController</servlet-name>
        <servlet-class>controller.manager.HospitalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HospitalController</servlet-name>
        <url-pattern>/manager/hospital</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.manager.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/manager/schedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerInvoiceController</servlet-name>
        <servlet-class>controller.manager.ManagerInvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerInvoiceController</servlet-name>
        <url-pattern>/manager/invoices</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerInvoiceCreateController</servlet-name>
        <servlet-class>controller.manager.ManagerInvoiceCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerInvoiceCreateController</servlet-name>
        <url-pattern>/manager/invoices/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerServiceController</servlet-name>
        <servlet-class>controller.manager.ManagerServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerServiceController</servlet-name>
        <url-pattern>/manager/services</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.manager.ReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/manager/report</url-pattern>
    </servlet-mapping>

<!--Mapping cho Doctor Controllers-->
    <servlet>
        <servlet-name>DoctorDashboardController</servlet-name>
        <servlet-class>controller.doctor.DoctorDashboardController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DoctorDashboardController</servlet-name>
        <url-pattern>/doctor/dashboard</url-pattern>
    </servlet-mapping>

<!--Mapping Patient Controllers-->
    <servlet>
        <servlet-name>PatientDashboardController</servlet-name>
        <servlet-class>controller.patient.PatientDashboardController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatientDashboardController</servlet-name>
        <url-pattern>/patient/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PatientProfileController</servlet-name>
        <servlet-class>controller.patient.PatientProfileController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatientProfileController</servlet-name>
        <url-pattern>/patient/profile</url-pattern>
    </servlet-mapping>

<!--Mapping Doctor Profile Controller-->
    <servlet>
        <servlet-name>DoctorProfileController</servlet-name>
        <servlet-class>controller.doctor.DoctorProfileController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DoctorProfileController</servlet-name>
        <url-pattern>/doctor/profile</url-pattern>
    </servlet-mapping>

<!-- AUTH FILTER -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


<!-- ROLE FILTER -->
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/doctor/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/patient/*</url-pattern>
    </filter-mapping>


</web-app>
